<div>
    <div class="container" style="margin-top: 100px;">
        <div class="row-mt-5 justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="col sweet-title-straight">
                <span>Create an account by selecting one of the following options</span>
            </div>
        </div>
    </div>
    <!-- buttons -->
    <div class="button_group mt-5">
        <div class="container d-flex justify-content-center align-items-center">
            <button class="btn btn-dark btn-lg mt-5 mb-5" style="background-color: black" onclick="navigate('signupFormPage')">Sign up with email address</button>
        </div>
        <div class="col sweet-title-straight">
            <h5 class="justify-content-center mt-5 mb-5 col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">or continue with</h5>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
            <button onclick="handle42Login()" class="btn btn-dark btn-lg mt-5" style="background-image: url('../static/42.jpg'); background-size: cover; background-position: center; width: 100px; height: 100px;"></button>
        </div>
    </div>
</div>


