<div>
    <div id="startPageToHide">
        <div class="row-mt-5 justify-content-center col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <!-- <h1 class="font-weight-bold text-black mt-5" style="font-weight: 800;">Welcome to ft_transcendance</h1> -->
            <section class="header">
                <div class="title-wrapper">
                  <h1 class="sweet-title">
                    <span>Transcendence</span>
                  </h1>
                  <span class="top-title">Welcome to</span>
                  <span class="bottom-title">A 42 student project</span>
                  </div>
              </section>
              <div class="button_group_start">
                <div class="container d-flex justify-content-center align-items-center">
                    <button class="btn btn-dark btn-lg mt-5" style="background-color: black" onclick="navigate('signupPage', true)">SIGN UP</button>
                </div>
                <div class="container d-flex justify-content-center align-items-center">
                    <button class="btn btn-dark btn-lg mt-5" style="background-color: black" onclick="navigate('loginPage', true)">LOG IN</button>
                </div>
            </div>
        </div>
    </div>
</div>